In [1]:
import pandas as pd

## Food Prices Dataset

This dataset contains prices for various food items and some miscellaneous household items for Canada and various provinces. The timeframe covered in this dataset is from January 2017 to February 2024.

https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1810024502&pickMembers%5B0%5D=1.11&cubeTimeFrame.startMonth=01&cubeTimeFrame.startYear=2017&cubeTimeFrame.endMonth=02&cubeTimeFrame.endYear=2024&referencePeriods=20170101%2C20240201

In [2]:
df_food = pd.read_csv('../Data/Canadian_Food_Prices.csv')

In [3]:
df_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103974 entries, 0 to 103973
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   REF_DATE       103974 non-null  object
 1   GEO            103974 non-null  object
 2   DGUID          103974 non-null  object
 3   Products       103974 non-null  object
 4   UOM            103974 non-null  object
 5   UOM_ID         103974 non-null  int64
 6   SCALAR_FACTOR  103974 non-null  object
 7   SCALAR_ID      103974 non-null  int64
 8   VECTOR         103974 non-null  object
 9   COORDINATE     103974 non-null  float64
 10  VALUE          103974 non-null  float64
 11  STATUS         0 non-null       float64
 12  SYMBOL         0 non-null       float64
 13  TERMINATED     0 non-null       float64
 14  DECIMALS       103974 non-null  int64
dtypes: float64(5), int64(3), object(7)
memory usage: 11.9+ MB

In [4]:
df_food.head()

,REF_DATE,GEO,DGUID,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2017-01,Canada,2016A000011124,"Beef stewing cuts, per kilogram",Dollars,81,units,0,v1353834271,11.10,12.66,NaN,NaN,NaN,2
1,2017-01,Canada,2016A000011124,"Beef striploin cuts, per kilogram",Dollars,81,units,0,v1353834272,11.20,21.94,NaN,NaN,NaN,2
2,2017-01,Canada,2016A000011124,"Beef top sirloin cuts, per kilogram",Dollars,81,units,0,v1353834273,11.30,13.44,NaN,NaN,NaN,2
3,2017-01,Canada,2016A000011124,"Beef rib cuts, per kilogram",Dollars,81,units,0,v1353834311,11.41,20.17,NaN,NaN,NaN,2
4,2017-01,Canada,2016A000011124,"Ground beef, per kilogram",Dollars,81,units,0,v1353834274,11.40,9.12,NaN,NaN,NaN,2

In [5]:
df_food.shape

(103974, 15)

In [6]:
cleaned_food_df = pd.read_csv('../Data/df_food.csv')

cleaned_food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95460 entries, 0 to 95459
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      95460 non-null  object
 1   Location  95460 non-null  object
 2   Products  95460 non-null  object
 3   Price     95460 non-null  float64
dtypes: float64(1), object(3)
memory usage: 2.9+ MB

In [7]:
cleaned_food_df.head()

         Date Location                    Products  Price
0  2017-01-01  Alberta          Almonds, 200 grams   3.84
1  2017-01-01  Alberta       Apple juice, 2 litres   2.90
2  2017-01-01  Alberta        Apples, per kilogram   3.86
3  2017-01-01  Alberta               Avocado, unit   1.56
4  2017-01-01  Alberta  Baby food, 128 millilitres   1.19

In [8]:
cleaned_food_df.shape

(95460, 4)

## Unemployment Rate Dataset

This dataset contains the unemployment rate for Canada and various provinces. The timeframe covered in this dataset is from January 2017 to February 2024.

https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=1410028701

In [9]:
df_empl = pd.read_csv('../Data/Employment.csv')

In [10]:
df_empl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 946 entries, 0 to 945
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   REF_DATE                      946 non-null    object
 1   GEO                           946 non-null    object
 2   DGUID                         946 non-null    object
 3   Labour force characteristics  946 non-null    object
 4   Sex                           946 non-null    object
 5   Age group                     946 non-null    object
 6   Statistics                    946 non-null    object
 7   Data type                     946 non-null    object
 8   UOM                           946 non-null    object
 9   UOM_ID                        946 non-null    int64
 10  SCALAR_FACTOR                 946 non-null    object
 11  SCALAR_ID                     946 non-null    int64
 12  VECTOR                        946 non-null    object
 13  COORDINATE                    946 non-null    object
 14  VALUE                         946 non-null    float64
 15  STATUS                        0 non-null      float64
 16  SYMBOL                        0 non-null      float64
 17  TERMINATED                    0 non-null      float64
 18  DECIMALS                      946 non-null    int64
dtypes: float64(4), int64(3), object(12)
memory usage: 140.6+ KB

In [11]:
df_empl.head()

,REF_DATE,GEO,DGUID,Labour force characteristics,Sex,Age group,Statistics,Data type,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2017-01,Canada,2016A000011124,Unemployment rate,Both sexes,15 years and over,Estimate,Seasonally adjusted,Percentage,242,units,0,v2062815,1.7.1.1.1.1,6.8,NaN,NaN,NaN,1
1,2017-02,Canada,2016A000011124,Unemployment rate,Both sexes,15 years and over,Estimate,Seasonally adjusted,Percentage,242,units,0,v2062815,1.7.1.1.1.1,6.6,NaN,NaN,NaN,1
2,2017-03,Canada,2016A000011124,Unemployment rate,Both sexes,15 years and over,Estimate,Seasonally adjusted,Percentage,242,units,0,v2062815,1.7.1.1.1.1,6.7,NaN,NaN,NaN,1
3,2017-04,Canada,2016A000011124,Unemployment rate,Both sexes,15 years and over,Estimate,Seasonally adjusted,Percentage,242,units,0,v2062815,1.7.1.1.1.1,6.5,NaN,NaN,NaN,1
4,2017-05,Canada,2016A000011124,Unemployment rate,Both sexes,15 years and over,Estimate,Seasonally adjusted,Percentage,242,units,0,v2062815,1.7.1.1.1.1,6.6,NaN,NaN,NaN,1

In [12]:
df_empl.shape

(946, 19)